<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="text-center">
    <div><h1>Welcome to Admin Panel</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/admin/dashboard/users/show/all}">List Users</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/admin/dashboard/users/create}">Create User</a>
    </div>
</div>


</body>
</html>