<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>

<body>
<div class="allign-middle text-center">
    <div><h1>Welcome to Car Rental</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/offers/show/all}">Offers</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/admin/dashboard/reservations/show/all}">My reservations</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/logout}">Sign out</a>
    </div>
    <div class="p-2" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="h2" th:href="@{/admin/dashboard}">Admin panel</a>
    </div>
</div>

</body>
</html>