<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="text-center">
    <div class="text-left">
        <form th:action="@{/offers/show/all}" method="get">
            <input type="submit" class="btn btn-secondary" value="Back to offers" />
        </form>
    </div>
    <div><h1>Rent</h1></div>
    <form th:action="@{/reservation/add}" th:object="${reservation}" method="post" style="max-width: 600px;  margin: 0 auto">
        <div class="m-3">
            <input hidden th:field="*{car}" th:value="${car}"/>
            <input hidden th:field="*{user}" th:value="${user}">
            <div class="form-group row">
                <label class="col-form-label-sm-4">Car Brand:</label>
                <div class="col-sm-8">
                    <input readonly type="text" th:value="${car.brand}" id="carBrand" placeholder="carBrand" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label-sm-4">Air conditioning:</label>
                <div class="col-sm-8">
                    <input readonly type="text" th:value="${car.airConditioning}" id="airConditioning" placeholder="airConditioning" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label-sm-4">Automatic transmission:</label>
                <div class="col-sm-8">
                    <input readonly type="text" th:value="${car.automaticTransmission}" id="automaticTransmission" placeholder="automaticTransmission" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label-sm-4">Price per day:</label>
                <div class="col-sm-8">
                    <input readonly type="text" th:value="${car.pricePerDay}" id="price" placeholder="price" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label-sm-4">Reservation Start Date:</label>

                <div class="col-sm-8">
                    <input type="date" th:field="*{startDate}" id="startDate" placeholder="startDate" class="form-control" oninput="check(this)"  required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label-sm-4">Reservation End Date:</label>

                <div class="col-sm-8">
                    <input type="date" th:field="*{endDate}" id="endDate" placeholder="endDate" class="form-control" oninput="check(this)"  required/>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Rent"/>
        </div>
    </form>
</div>
</body>
<script>
    function check(input) {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        if ((Date.parse(startDate) > Date.parse(endDate))) {
            input.setCustomValidity('Start date must be before end date')
        }
    }
</script>
</html>