<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/dashboard/users/create}" method="get" >
    <input type="submit" value="Add User">
</form>
<form th:action="@{/admin/dashboard/users/edit}" method="get" >
    <input type="submit" value="Edit Users">
</form>
<table>
    <thead>
    <tr>
        <th> Email </th>
        <th> Password </th>
        <th> Role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="user: ${users}">
        <td><span th:text="${user.email}"> Email </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
        <td><span th:text="${user.role}"> Role </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>