<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class=text-center>
    <div class="text-left">
        <form th:action="@{/home}" method="get">
            <input type="submit" class="btn btn-secondary" value="Back to Home" />
        </form>
    </div>
    <div class="text-center"><h1>Another user reserved car in this date</h1></div>
</div>
</body>
</html>